on:
  push:
    tags:
      - v*
name: Release Packaging

jobs:
  release:
    name: Release Packaging
    defaults:
      run:
        working-directory: ./omo
    env:
      PROJECT_NAME_UNDERSCORE: omo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Release Build
        run: cargo build --release
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.PROJECT_NAME_UNDERSCORE }}
          path: target/release/${{ env.PROJECT_NAME_UNDERSCORE }}
